.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  /*height: 80px;*/
}

.App-header {
  background-color: #222;
  /*height: 150px;*/
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes playingmusic {
  0% {
    background: grey;
  }
  50% {
    background: lightgreen;
  }
  80% {
    background: green;
  }
  100% {
    background: grey;
  }
}

h1,h2,h3,h4,h5,p {
  font-weight: 100;
}


ul.songList {
  list-style-type: none;
  padding-left: 0;
  width: 80%;
  margin-left: 10%;
}

ul.songList > li {
  width: 15%;
  display: inline-block;
  cursor: pointer;
  padding: 20px;
  margin-right: 2.5%;

}

ul.songList > li > img {
  width: 100%;
}

ul.songList > li > audio {
  /*display: none;*/
}

.individualSongPlayer {
  display: none;
}

ul.songList > li > h4 {
  position: relative;
}

ul.songList > li > h4 > span.playingIcon {
  height: 10px;
  width: 10px;
  border-radius: 6px;
  background: grey;

  display: block;
  position: absolute;
  top: 2px;
  left: 30px;

  transition: 2s;
}

ul.songList > li.live > h4 > span.playingIcon {
  animation: playingmusic 3s infinite;
}
